/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {

    height:150vh;
    width: 98vw;
    background-color:#3B5A29;
}

nav{ 
height:65px ;
width: 100%;


}

.navbar{

    background-color: #3B5A29;

display: flex;
align-items: center;
justify-content: space-between;
}

#logo a {
font-size: 35px;
font-weight: 600;
color: white;
}

li{
   list-style: none;
   display: inline-block;
}

li a{
color: #F0F4E7;
font-size: 18px;
font-weight: bold;
margin-right:25px;
text-decoration: none;
margin-left: 35px;
}

.merriweather-rubrik {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }
  



button a{
color: white;
font-weight: bold;
font-size: 15px;
}

#line {
background-color: #F0F4E7;
height: 0.1%;
width: 100%;


}

#Logga{
text-align: center;
height: 83%;

}

.wide {
  grid-column: span 2;
}

footer {
  background-color: #F0F4E7;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons img {
  width: 20px;
  margin: 5px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  background-color: #3B5A29;
  border: 0;
  position: absolute;
  left:20px;
  top: 20px;
}

.menu-button__line,
.menu-button::before,
.menu-button::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color:#F0F4E7;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-button.is-opened .menu-button__line {
  opacity: 0;
}

.menu-button.is-opened::before {
  transform: translateY(8px) rotate(45deg);
}

.menu-button.is-opened::after {
  transform: translateY(-8px) rotate(-45deg);
}

#panel {

  padding: 50px;
  
  background-color: white;
  height: 350px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: -20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: larger;
  
  display: flex;
  max-width: min-content;
  padding-top: 70px;
  flex-direction: column;
  gap: 20px;

  display: none;

}
a{
  
  text-decoration: none;
  color: #3B5A29;
  font-weight: bold;
  line-height: 40px;
  font-style:arial;
}
.checkout{
 position: absolute;
 right: 50px;
 top: 20px;
}